.container {
  border: 2px solid #000000;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* .cellSelection {
    position: absolute;
} */

.tb__table {
  position: absolute;
}

tr {
  border: 2px solid #000;
}

th {
  border: 2px solid #000;
}

td {
  border: 2px solid #000;
}

table {
  border: 2px solid #000;
}
