.customCheckbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #000;
  position: absolute;
  top: 15px;
  left: auto;
  padding: 20px;
  background: #fff;
  width: 120px;
}
.cusCheckbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.customCheckbox label {
  font-size: 18px;
  cursor: pointer;
  text-transform: capitalize;
}
