@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import-normalize;

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
tr {
  border: 2px solid #000;
}

th {
  border: 2px solid #000;
}

td {
  border: 2px solid #000;
}

table {
  border: 2px solid #000;
}
